# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
hospital/

# SQLite database
*.db
*.sqlite3

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db